<div class="sidebar-container">
    <a class="logout-btn" ui-sref="logout">Logout</a>
    <div class="sidebar">
        <div class="sidebar-header">
            <a ui-sref="root.projects"><i class="lab icon"></i><h2>dev<strong>Lab</strong></h2></a>
        </div>
        <a ui-sref="root.projects" ui-sref-active="sidebar-active">
            <div class="sidebar-button bold"><i class="hashtag icon"></i>Projects</div>
        </a>
        <a ui-sref="root.articles" ui-sref-active="sidebar-active">
            <div class="sidebar-button bold"><i class="bookmark icon"></i>Articles</div>
        </a>
    </div>
</div>
