<toolbar btn-action="onAction(action)" title="Articles" allow-remove="true" btn-text="Add article" btn-icon="add"></toolbar>
<div class="projects-container my-container article-container">
    <div class="col-md-12">
        <table  class="ui very basic table selectable single line">
            <thead>
                <tr>
                    <th><label class="checkbox-label" for="select-all"><input id="select-all" class="check-article" ng-click="onSelectAll()" ng-model="selectAll" type="checkbox"></label>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Views</th>
                    <th>Published</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articles track by $index">
                <td>
                    <h4 class="ui image header">
                        <label class="checkbox-label" for="{{article._id}}"><input id="{{article._id}}" class="check-article" ng-model="article.selected" type="checkbox"></label>
                        <div class="content">
                            <a ng-click="onOpenArticle(article)" ng-bind="article.title"></a>
                        </div>
                    </h4></td>
                <td>
                    <div class="ui label">
                        <i class="user icon"></i><span ng-bind="article.author"></span>
                    </div>
                </td>
                <td>
                    <div class="ui label">
                        <i class="tag icon"></i><span ng-bind="article.category"></span>
                    </div>
                </td>
                <td>
                    <div class="ui label">
                        <i class="eye icon"></i><span ng-bind="article.views"></span>
                    </div>
                </td>
                <td>
                    <div class="ui label">
                        <span> {{article.dateCreated | dateMomentUtc}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total <b>{{articles.length}}</b> articles</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
         </table>
    </div>
</div>
