<!DOCTYPE>
<html>
<head>
    <script src="http://localhost:35727/livereload.js" data-concat="false"></script>
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/libs/lodash/dist/lodash.min.js"></script>
    <script src="/static/libs/semantic/dist/semantic.min.js"></script>
    <script src="/dist/main.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/main.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title><%- pageName%></title>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="nav-button <%- (pageName === 'Articles' || pageParent === 'Articles') ? 'active' : '' %>">Articles</a>
                <a href="/portfolio" class="nav-button <%- (pageName === 'Portfolio' || pageParent === 'Projects') ? 'active' : '' %>">Portfolio</a>
            </div>
        </nav>
    </header>
